<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Resources</title>
    </head>

    <body>

        <div th:switch="${rightsName}" align="center">
            <h2 th:case="null">No Rights yet!</h2>
            <br/>
            <div th:case="*">
                <table border="1" style="width:600px;">
                    <thead>
                        <tr>
                            <th>Right</th>
                            <th>Add</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="right, id : ${rightsName}">
                            <td th:text="${right}"></td>
                            <td><a th:href="@{/admin/edit/{id}(id=${id})}" class="btn">Add</a></td>
                            <td><a th:href="@{/admin/delete/{id}(id=${id})}" class="btn">Remove</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>

</html>